/* .header {
} */

.dashboard_main{
  width: 100%;
 padding: 20px 3%;
 /* margin: 20px 3%; */
}

.nav {
  display: flex;
  justify-content: space-between;
  /* padding: 1% 0 2% 0; */
  margin-bottom: 20px;
}
.datacardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px; 
}

.dataCards {
  display: flex;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px; 
}

.dataCards > * {
  flex: 1;
}

.searchContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
}

.searchIcon {
  margin-right: 10px;
}

.searchInput {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  background-color: transparent;
  /* color: #B9B4C7; */
}
/* .searchInput:-moz-placeholder{
  color: #B9B4C7;
} */

.middle {
  display: flex;
  gap: 2%;
  margin-top: 20px;
}

/* BarChart */
.barChartContainer {
  /* width: 100%; */
  overflow-y: auto;
  flex: 2;
  /* max-height: 320px; */
  background-color: #fff;
  padding: 2%;
  border-radius: 4%;
}
.barchartSelect {
  border: none;
  outline: none;
  color: #B9B4C7;
}
.barChartHeader {
  display: flex;
  /* flex: 1; */
  justify-content: space-between;
  /* width: 100%; */
}
.doughnutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  flex: 1;
  /* max-width: 30%; */
  overflow-y: auto;
  /* max-height: 420px; */
  background-color: #fff;
  padding: 2%;
  border-radius: 4%;

}

.doughnutChart{
  position: relative;
}
.doughnutCenterText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


/* Footer */
.footer{
  /* display: flex; */
  background-color: #fff;
  margin-top: 20px;
  padding: 2%;
  border-radius: 10px;
}
.productsellHeader{
  display: flex;
  justify-content: space-between;
}
.productsellHeader h2{
  min-width: 130px;
}
.searchDropdown{
  display: flex;
  align-items: center;
  /* max-width: 200px; */
}
.productsellSearch{
  display: flex;
  align-items: center;
}
.footerSearchInput{
  border: none;
  outline: none;
  width: 100px;
}

.productsellMiddle{
  margin-top:20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.border{
 border-bottom: 1px solid #B9B4C7;
 min-width: 650px;
 width: 100%;
}
.firstHeading{
  width: 60%;
  min-width: 250px;
}
.productDataHeader{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 50px; */
  width: 40%;
  min-width: 400px;
}
hr {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {

  .datacardContainer{
    flex-direction: column;
  }
  .middle{
    flex-direction: column;
    gap:20px;
  }
  .doughnutContainer{
    align-items: center;
    padding: 0;
  }
  .productSellContainer{
    overflow-x: scroll;
    overflow-y: hidden;
  }
  hr {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
}
@media screen and (max-width: 480px) {

  .dashboard_main{
    margin-top: 25px;
  }
}

@media screen and (max-width: 425px) {
.productsellSearch{
  display: none;
}

}





